<html>
<!--
 * Proyecto Final: Ocho Loco
 * Fecha: 19-Nov-2019
 * Autores:
 *           A01****** Servio Tulio
 *           A01378903 Jesús Perea
 *           A01****** Jorge Aharon López Aguilar
 *           A01379228 Adrián Méndez López
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <title>8 Loco</title>
</head>

<body>
    <h1>Ocho Loco</h1>

    <ul>
        <li>
            <a href="/nuevoJuego">Crear un nuevo juego</a>
        </li>
        <li>
            <a href="/unirseJuego">Unirse a un juego existente</a>
        </li>
        <li>
            <a href="/salir">Salir</a>
        </li>
    </ul>

    <p>2019 por Servio, Jesús, Jorge y Adrián</p>
</body>

</html>
